################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Leetcode134GasStation/FileContentIndex/d52f970f-bace-4ca6-b9b4-c55c5e54ad2d.vsidx
